{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>

    {% if cart|length > 0 %}
        {% set total = 0 %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Taille</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>
                            <a href="{{ path('app_product_show', {id: item.product.id}) }}">
                                <img src="{{ asset(item.product.image) }}" alt="{{ item.product.name }}">
                            </a>
                        </td>
                        <td><div class="mobile-name">Nom :</div> {{ item.product.name }}</td>
                        <td><div class="mobile-price">Prix :</div> {{ item.product.price }} €</td>
                        <td><div class="mobile-size">Taille :</div> {{ item.size }}</td>
                        <td><div class="mobile-quantity">Quantité :</div> {{ item.quantity }}</td>
                        <td><div class="mobile-total">Total :</div> {{ item.product.price * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('app_cart_remove', {id: item.product.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                    {% set total = total + (item.product.price * item.quantity) %}
                {% endfor %}
            </tbody>
        </table>

        <div class="cart-summary">
            <div class="total-and-buttons">
                <p class="total-text">Total : {{ total }} €</p>
                <a href="{{ path('app_stripe_checkout') }}" class="btn btn-success">Finaliser ma commande</a>
            </div>
            <div class="continue-shopping">
                <a href="{{ path('app_products') }}" class="btn btn-primary">Continuer mes achats</a>
            </div>
        </div>
    {% else %}
        <p class="cart-empty-text">Votre panier est vide.</p>
    {% endif %}
{% endblock %}