{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-container">
        <h2>Se connecter</h2>

        <hr class="separator">

        {% if error %}
            <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

            {% if error.messageKey == 'Votre compte n\'est pas vérifié. Veuillez vérifier votre email.' %}
                <div class="resend-verification">
                    <p>Pas encore reçu l'email de vérification ? <a href="{{ path('app_resend_verification') }}">Renvoyer l'email de vérification</a></p>
                </div>
            {% endif %}
        {% endif %}

        <form action="{{ path('app_login') }}" method="post" class="login-form">
            <div class="form-group">
                <label for="username">Nom utilisateur :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" required>
            </div>

            <div class="form-group remember-me">
                <input type="checkbox" id="remember_me" name="_remember_me">
                <label for="remember_me">Se souvenir de moi</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Se connecter</button>
        

        <hr class="separator">

        <div class="register-link">
            <p>Pas encore inscrit ?</p>
            <a href="{{ path('app_register') }}" class="btn-copy btn-block">Créer un compte</a>
        </div>

        <p class="link-back-home"><a href="{{ path('app_home') }}">Retour à l'accueil</a></p>
        </form>
    </div>
{% endblock %}