{# templates/product.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="product-page-container">
        <div class="product-info-section">
            <div class="product-img-wrapper">
                <img src="{{ asset(product.image) }}" alt="{{ product.name }}" class="product-image">
            </div>
            <div class="product-details-wrapper">
                <p class="product-title">Nom : {{ product.name }}</p>
                <p class="product-price">Prix : {{ product.price }} €</p>
                <p class="product-stock">Quantité restante : {{ product.quantity }}</p>
                
                <form method="post" action="{{ path('app_cart_add', {'id': product.id}) }}" class="product-form">
                    <label for="size" class="product-size-label">Taille</label>
                    <select id="size" name="size" class="product-size-select">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>

                    <button type="submit" class="btn-add-to-cart">Ajouter au panier</button>
                </form>
            </div>
        </div>

        <div class="back-home">
            <a href="{{ path('app_products') }}" class="btn-back-products">Retour à la liste des produits</a>
        </div>
    </div>
{% endblock %}