{# templates/includes/header.html.twig #}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('img/Logo.png') }}" alt="Logo de Stubborn" class="logo-img">
            </a>
            <p>La mode avec caractère.</p>
        </div>

        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            {% if app.user %}
                <a href="{{ path('app_products') }}">Produits</a>
                <a href="{{ path('app_cart') }}">Panier</a>
                <a href="{{ path('app_account') }}">Mon compte</a>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_register') }}">S'inscrire</a>
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </nav>
    </div>
</header>
