{# templates/includes/header.html.twig #}
<header>
    <h1>Ceci est le header</h1>
    <nav>
        <a href="{{ path('app_home') }}">Accueil</a>
        <a href="{{ path('app_products') }}">Produits</a>
        <a href="{{ path('app_cart') }}">Panier</a>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}">Se connecter</a>
            <a href="{{ path('app_register') }}">S'inscrire</a>
        {% endif %}
    </nav>
</header>