{# templates/includes/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La boutique en ligne dédiée à la mode avec caractère">
    <title>{% block title %}Stubborn{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mobile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tablet.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>

    {% include 'includes/header.html.twig' %}
    
    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'includes/footer.html.twig' %}


    {{ encore_entry_script_tags('app') }} {# Inclusion du fichier app.js compilé #}
</body>
</html>