{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="login-container">
        <h2>S'inscrire</h2>

        <hr class="separator">

        {{ form_start(registrationForm) }}

        <div class="form-group">
            <label for="username">Nom utilisateur :</label>
            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.username) }}
        </div>

        <div class="form-group">
            <label for="email">Adresse mail :</label>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        <div class="form-group">
            <label for="deliveryAddress">Adresse de livraison :</label>
            {{ form_widget(registrationForm.deliveryAddress, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.deliveryAddress) }}
        </div>

        <div class="form-group">
            <label for="plainPassword_first">Mot de passe :</label>
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>

        <div class="form-group">
            <label for="plainPassword_second">Confirmez le mot de passe :</label>
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>

        <button type="submit" class="btn btn-primary">Créer un compte</button>

        <hr class="separator">

        <div class="register-link">
            <p>Déjà inscrit ?</p>
            <a href="{{ path('app_login') }}" class="btn-copy btn-block">Se connecter</a>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}