{# templates/register/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="form-box">
            <h1>S'inscrire</h1>

            {{ form_start(registrationForm) }}
            
            <div class="form-group">
                {{ form_label(registrationForm.username, 'Nom utilisateur') }}
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.username) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.email, 'Adresse mail') }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.deliveryAddress, 'Adresse de livraison') }}
                {{ form_widget(registrationForm.deliveryAddress, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.deliveryAddress) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.plainPassword.second, 'Confirmez le mot de passe') }}
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>

            <button type="submit" class="btn btn-primary">Créer un compte</button>

            {{ form_end(registrationForm) }}

            <div class="register-link">
                <p>Déjà inscrit ? <a href="{{ path('app_login') }}" class="btn btn-secondary">Se connecter</a></p>
            </div>
        </div>
    </div>
{% endblock %}